.countdown {
    
    &-container {
        text-align: center;
        min-height: 85px;
        @media (width >= 992px) {
            min-height:141px;
        }
    }
    &-title {
        font-size: var(--fs-200);
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    &-number {
        font-family: var(--font-headings);
        font-weight: var(--fw-900);
        font-size: 2.25rem;
        @media (width >= 576px) {
            font-size: calc(40px + (80 - 40) * ((100vw - 300px)/ (1200 - 300)));
        }
    }
}