.hero {
    min-height: 500px;
    display: grid;
    place-content: center;

    &__grid {
        display: grid;
        @media (min-width: 992px) {
            grid-template-columns: 1fr 1fr;
        }
        gap: 1rem;
    }
    &__left {
        margin-block: auto;
        & > * + * {
            margin-block-end: 2rem;
        }
    }
    &__right {
        display: grid;
        grid-template-areas: 
            "one one"
            "two three";
        gap: 0.5rem;
        place-content: center;
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 6px;
        }
        img:nth-child(1) {
            grid-area: one;
            aspect-ratio: 2.5 / 1;
        }
        img:nth-child(2) {
            grid-area: two;
            aspect-ratio: 3 / 2;
        }
        img:nth-child(3) {
            grid-area: three;
            aspect-ratio: 3 / 2;
        }
        &.hero__secondary {
            img {
                aspect-ratio: 6 / 4;
                border-radius: 12px;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    @media (min-width:576px) {
        &__buttons {
            flex-direction: row;
        }
    }
}