.lii_tabs {

    &__grid {
        display: grid;
        gap: 2rem;
    }
    &__image {
        aspect-ratio: 3 / 1;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 12px;
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    @media (min-width:576px) {
        &__buttons {
            flex-direction: row;
        }
    }

    @media (min-width:992px) {
        &__grid {
            grid-template-columns: 1fr 1.6fr;
            gap: 4rem;
        }
        &__image {
            aspect-ratio: 3 / 3.5;
        }
    }


    .nav-tabs {
        border-bottom: none;
        display: flex;
        gap: 3rem;
    }
    .lii_tab {
        min-width: 300px;
        border: none;
        border-bottom: 2px solid var(--col-grey-400);
        background-color: transparent;
        color: var(--col-grey-400);
        font-size: var(--fs-500);
        font-weight: var(--fw-900);
        text-align: start;
        &.active {
            border-bottom: 2px solid var(--col-primary);
            color: var(--col-primary);
        }
    }

    #landlords-tab,
    #investors-tab,
    #individuals-tab {
        &::before {
            display: inline-block;
            width: 1em;
            height: 1em;
            margin-right: 0.5em;
            position: relative;
            bottom: -4px;
            fill: inherit;
        }
    }

    #landlords-tab {
        &::before {
            content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 21H21.5M5.5 21V7L13.5 3V21M19.5 21V11L13.5 7M9.5 9V9.01M9.5 12V12.01M9.5 15V15.01M9.5 18V18.01' stroke='%23404040' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
        &.active::before {
            content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 21H21.5M5.5 21V7L13.5 3V21M19.5 21V11L13.5 7M9.5 9V9.01M9.5 12V12.01M9.5 15V15.01M9.5 18V18.01' stroke='%231A7AA2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }

    #investors-tab {
        &::before {
            bottom: -6px;
            content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5049 22.0029C6.98188 22.0029 2.50488 17.5259 2.50488 12.0029C2.50488 6.47993 6.98188 2.00293 12.5049 2.00293C18.0279 2.00293 22.5049 6.47993 22.5049 12.0029C22.5049 17.5259 18.0279 22.0029 12.5049 22.0029ZM12.5049 20.0029C14.6266 20.0029 16.6614 19.1601 18.1617 17.6598C19.662 16.1595 20.5049 14.1247 20.5049 12.0029C20.5049 9.8812 19.662 7.84637 18.1617 6.34608C16.6614 4.84578 14.6266 4.00293 12.5049 4.00293C10.3832 4.00293 8.34832 4.84578 6.84803 6.34608C5.34774 7.84637 4.50488 9.8812 4.50488 12.0029C4.50488 14.1247 5.34774 16.1595 6.84803 17.6598C8.34832 19.1601 10.3832 20.0029 12.5049 20.0029ZM9.50488 13.0029H8.50488V11.0029H9.50488V10.0029C9.50453 9.19047 9.78684 8.40319 10.3034 7.77609C10.82 7.14899 11.5386 6.72114 12.3361 6.56589C13.1336 6.41065 13.9603 6.53769 14.6744 6.92523C15.3884 7.31277 15.9454 7.93666 16.2499 8.68993L14.2629 9.18693C14.0876 8.91415 13.8285 8.70558 13.5246 8.5925C13.2207 8.47942 12.8883 8.46794 12.5774 8.55977C12.2664 8.6516 11.9936 8.84179 11.7998 9.10182C11.6061 9.36184 11.5019 9.67767 11.5029 10.0019V11.0019H14.5029V13.0019H11.5029V15.0019H16.5029V17.0019H8.50288V15.0019H9.50288V13.0019L9.50488 13.0029Z' fill='%23404040'/%3E%3C/svg%3E%0A");
        }
        &.active::before {
            content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5049 22.0029C6.98188 22.0029 2.50488 17.5259 2.50488 12.0029C2.50488 6.47993 6.98188 2.00293 12.5049 2.00293C18.0279 2.00293 22.5049 6.47993 22.5049 12.0029C22.5049 17.5259 18.0279 22.0029 12.5049 22.0029ZM12.5049 20.0029C14.6266 20.0029 16.6614 19.1601 18.1617 17.6598C19.662 16.1595 20.5049 14.1247 20.5049 12.0029C20.5049 9.8812 19.662 7.84637 18.1617 6.34608C16.6614 4.84578 14.6266 4.00293 12.5049 4.00293C10.3832 4.00293 8.34832 4.84578 6.84803 6.34608C5.34774 7.84637 4.50488 9.8812 4.50488 12.0029C4.50488 14.1247 5.34774 16.1595 6.84803 17.6598C8.34832 19.1601 10.3832 20.0029 12.5049 20.0029ZM9.50488 13.0029H8.50488V11.0029H9.50488V10.0029C9.50453 9.19047 9.78684 8.40319 10.3034 7.77609C10.82 7.14899 11.5386 6.72114 12.3361 6.56589C13.1336 6.41065 13.9603 6.53769 14.6744 6.92523C15.3884 7.31277 15.9454 7.93666 16.2499 8.68993L14.2629 9.18693C14.0876 8.91415 13.8285 8.70558 13.5246 8.5925C13.2207 8.47942 12.8883 8.46794 12.5774 8.55977C12.2664 8.6516 11.9936 8.84179 11.7998 9.10182C11.6061 9.36184 11.5019 9.67767 11.5029 10.0019V11.0019H14.5029V13.0019H11.5029V15.0019H16.5029V17.0019H8.50288V15.0019H9.50288V13.0019L9.50488 13.0029Z' fill='%231A7AA2'/%3E%3C/svg%3E%0A");
        }
    }
    
    #individuals-tab {
        &::before {
            content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 12C11.4 12 10.4583 11.6083 9.675 10.825C8.89167 10.0417 8.5 9.1 8.5 8C8.5 6.9 8.89167 5.95833 9.675 5.175C10.4583 4.39167 11.4 4 12.5 4C13.6 4 14.5417 4.39167 15.325 5.175C16.1083 5.95833 16.5 6.9 16.5 8C16.5 9.1 16.1083 10.0417 15.325 10.825C14.5417 11.6083 13.6 12 12.5 12ZM18.5 20H6.5C5.95 20 5.479 19.804 5.087 19.412C4.695 19.02 4.49934 18.5493 4.5 18V17.2C4.5 16.6333 4.646 16.1123 4.938 15.637C5.23 15.1617 5.61733 14.7993 6.1 14.55C7.13333 14.0333 8.18334 13.6457 9.25 13.387C10.3167 13.1283 11.4 12.9993 12.5 13C13.6 13 14.6833 13.1293 15.75 13.388C16.8167 13.6467 17.8667 14.034 18.9 14.55C19.3833 14.8 19.771 15.1627 20.063 15.638C20.355 16.1133 20.5007 16.634 20.5 17.2V18C20.5 18.55 20.304 19.021 19.912 19.413C19.52 19.805 19.0493 20.0007 18.5 20ZM6.5 18H18.5V17.2C18.5 17.0167 18.454 16.85 18.362 16.7C18.27 16.55 18.1493 16.4333 18 16.35C17.1 15.9 16.1917 15.5627 15.275 15.338C14.3583 15.1133 13.4333 15.0007 12.5 15C11.5667 15 10.6417 15.1127 9.725 15.338C8.80834 15.5633 7.9 15.9007 7 16.35C6.85 16.4333 6.729 16.55 6.637 16.7C6.545 16.85 6.49934 17.0167 6.5 17.2V18ZM12.5 10C13.05 10 13.521 9.804 13.913 9.412C14.305 9.02 14.5007 8.54933 14.5 8C14.5 7.45 14.304 6.979 13.912 6.587C13.52 6.195 13.0493 5.99933 12.5 6C11.95 6 11.479 6.196 11.087 6.588C10.695 6.98 10.4993 7.45067 10.5 8C10.5 8.55 10.696 9.021 11.088 9.413C11.48 9.805 11.9507 10.0007 12.5 10Z' fill='%23404040'/%3E%3C/svg%3E%0A");
        }
        &.active::before {
            content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 12C11.4 12 10.4583 11.6083 9.675 10.825C8.89167 10.0417 8.5 9.1 8.5 8C8.5 6.9 8.89167 5.95833 9.675 5.175C10.4583 4.39167 11.4 4 12.5 4C13.6 4 14.5417 4.39167 15.325 5.175C16.1083 5.95833 16.5 6.9 16.5 8C16.5 9.1 16.1083 10.0417 15.325 10.825C14.5417 11.6083 13.6 12 12.5 12ZM18.5 20H6.5C5.95 20 5.479 19.804 5.087 19.412C4.695 19.02 4.49934 18.5493 4.5 18V17.2C4.5 16.6333 4.646 16.1123 4.938 15.637C5.23 15.1617 5.61733 14.7993 6.1 14.55C7.13333 14.0333 8.18334 13.6457 9.25 13.387C10.3167 13.1283 11.4 12.9993 12.5 13C13.6 13 14.6833 13.1293 15.75 13.388C16.8167 13.6467 17.8667 14.034 18.9 14.55C19.3833 14.8 19.771 15.1627 20.063 15.638C20.355 16.1133 20.5007 16.634 20.5 17.2V18C20.5 18.55 20.304 19.021 19.912 19.413C19.52 19.805 19.0493 20.0007 18.5 20ZM6.5 18H18.5V17.2C18.5 17.0167 18.454 16.85 18.362 16.7C18.27 16.55 18.1493 16.4333 18 16.35C17.1 15.9 16.1917 15.5627 15.275 15.338C14.3583 15.1133 13.4333 15.0007 12.5 15C11.5667 15 10.6417 15.1127 9.725 15.338C8.80834 15.5633 7.9 15.9007 7 16.35C6.85 16.4333 6.729 16.55 6.637 16.7C6.545 16.85 6.49934 17.0167 6.5 17.2V18ZM12.5 10C13.05 10 13.521 9.804 13.913 9.412C14.305 9.02 14.5007 8.54933 14.5 8C14.5 7.45 14.304 6.979 13.912 6.587C13.52 6.195 13.0493 5.99933 12.5 6C11.95 6 11.479 6.196 11.087 6.588C10.695 6.98 10.4993 7.45067 10.5 8C10.5 8.55 10.696 9.021 11.088 9.413C11.48 9.805 11.9507 10.0007 12.5 10Z' fill='%231A7AA2'/%3E%3C/svg%3E%0A");
        }
    }

}