.notification {
    padding: 1rem 0;
    font-weight: 600;
    text-align: center;
    background-color: var(--col-gold-400);
    font-size: var(--fs-700);
}


$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-heading {
    position: absolute;
    display: grid;
    place-content: center;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    color: var(--col-green-400);
    background-color: var(--col-gold-400);
    padding-inline: 1rem;
    text-transform: uppercase;
    font-size: var(--fs-400);
}
.ticker-wrap .ticker__item:before {
    content: '\f111';
    font-family: 'Font Awesome 6 Free';
    font-size: var(--fs-200);
    position: relative;
    bottom: 0.25rem;
    margin-right: 0.5rem;
}

.ticker-wrap {
  
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: $duration;

    &:hover {
        animation-play-state: paused;
    }

    &__item {

      display: inline-block;

      padding: 0 2rem;
      font-size: var(--fs-700);
      color: var(--col-green-400);   
      &:hover {
        text-decoration: underline;
      }

    }

  }

}


