#wrapper-navbar {
    .logo-container {
        background-image: url(../img/ppi-logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top left;
        aspect-ratio: 3 / 1;
        width: 180px;
    }
}