$col-primary: #1a7aa2;
$col-secondary: hsl(149, 67%, 46%);
$col-grey: #F5F5F5;

:root {

    --hsl-blue-400: 198 72% 37%;
    --hsl-green-400: 149 67% 46%;

    --col-blue-400: hsl( var(--hsl-blue-400) );
    --col-green-400: hsl( var(--hsl-green-400) );
    
    --col-grey-400: hsl(0, 0%, 25%); // #404040;
    --col-grey-800: rgb(51,51,51); // #333333; 
    --col-grey-900: hsl(210, 8%, 5%);

    --col-primary: var(--col-blue-400);
    --col-secondary: var(--col-green-400);
    --col-grey: #F5F5F5;

    --h-top: 92px;

    --fs-200: clamp(0.80rem, calc(0.77rem + 0.17vw), 0.90rem);
    --fs-400: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
    --fs-450: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --fs-500: clamp(1.25rem, calc(1.20rem + 0.27vw), 1.41rem);
    --fs-600: clamp(1.56rem, calc(1.49rem + 0.34vw), 1.76rem);
    --fs-700: clamp(1.95rem, calc(1.87rem + 0.42vw), 2.20rem);
    --fs-800: clamp(2.44rem, calc(2.33rem + 0.53vw), 2.75rem);
    --fs-900: clamp(3.05rem, calc(2.92rem + 0.66vw), 3.43rem);

    // --fs-200: 0.813rem;
    // --fs-400: 1rem;
    // --fs-600: 1.4rem;
    // --fs-700: 1.8rem;
    // --fs-800: 2.2rem;
    // --fs-900: calc(52px + (72 - 52) * ((100vw - 300px) / (1200 - 300)));

    --fw-400: 400;
    --fw-600: 500;
    --fw-900: 600;

    --font-body: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --font-headings: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    --transition: 250ms ease-out;

}